<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body ng-app="exam">
<div ng-controller="con">
	<div ng-repeat="item in collection">
		<h2>{{$index+1}} {{item.model.head}}</h2>
		<ol>
			<li ng-repeat="chose in item.collection">
				{{chose.model.text}}
			</li>
		</ol>
	</div>
	
</div>
<script src="bower_components/angular/angular.js"></script>
<script>
	exam = angular.module('exam',[]);
	exam.controller('con', function($scope,$http){
		$http.get('exam2.json').then(function(resp) {
			var data = resp.data;
			data = data.replace('\\"','"');
			data = data.replace('\\\\','\\');
			data = JSON.parse(data);
			console.log(data);
			$scope.collection = data.collection[0].collection[1].collection
		})
	})
</script>
</body>
</html>